{% extends 'base.html.twig' %}

{% block title %}Profile - Edit{% endblock %}

{% block body %}
    <section class="glass-card">
        <p class="eyebrow">Profile</p>
        <h1>Edit my profile</h1>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'stack-form'}}) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.birthday) }}
            {{ form_row(form.bio) }}
            {{ form_row(form.profileImage) }}
            {{ form_row(form.plainPassword) }}
            <div class="row-actions">
                <a class="btn" href="{{ path('app_profile_show') }}">Cancel</a>
                <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
