{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'stack-form'}}) }}
    {{ form_row(form.property) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.discountPercentage) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.isActive) }}
    <button class="btn btn-primary">{{ button_label|default('Save offer') }}</button>
{{ form_end(form) }}
